In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv("C:/Users/rutvi/DF.csv")

In [3]:
dataset.shape
dataset.head(10)

,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Num_Bank_Accounts,Mail,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Credit_Mix,Outstanding_Debt,Credit_History_Age,Unnamed: 15,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,3,atomkiewicz@hotmail.com,4,3,7,Good,809.98,22 Years and 9 Months,NaN,49.574949,236.642682,Low_spent_Small_value_payments,186.266702
1,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,3,evan.zigomalas@gmail.com,4,3,9,Good,809.98,22 Years and 10 Months,NaN,49.574949,21.465380,High_spent_Medium_value_payments,361.444004
2,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,3,france.andrade@hotmail.com,4,-1,4,Good,809.98,NaN,NaN,49.574949,148.233938,Low_spent_Medium_value_payments,264.675446
3,CUS_0xd40,December,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,3,ulysses@hotmail.com,4,4,5,Good,809.98,23 Years and 0 Months,NaN,49.574949,39.082511,High_spent_Medium_value_payments,343.826873
4,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,2,tyisha.veness@hotmail.com,1,3,1,Good,605.03,27 Years and 3 Months,NaN,18.816215,39.684018,High_spent_Large_value_payments,485.298434
5,CUS_0x21b1,October,Rick Rothackerj,28,#F%$D@*&8,Teacher,34847.84,2,erampy@rampy.co.uk,1,3,3,Good,605.03,27 Years and 4 Months,NaN,18.816215,251.627369,Low_spent_Large_value_payments,303.355083
6,CUS_0x21b1,November,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,2,marg@hotmail.com,1,3,NaN,_,605.03,27 Years and 5 Months,NaN,18.816215,72.680145,High_spent_Large_value_payments,452.302307
7,CUS_0x21b1,December,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,2,laquita@yahoo.com,1,3,2_,_,605.03,27 Years and 6 Months,NaN,18.816215,153.534488,!@9#%8,421.447964
8,CUS_0x2dbc,September,Langep,35,486-85-3974,Engineer,143162.64,1,lura@hotmail.com,3,8,1942,Good,1303.01,18 Years and 5 Months,NaN,246.992319,397.503654,Low_spent_Medium_value_payments,854.226027
9,CUS_0x2dbc,October,Langep,35,486-85-3974,Engineer,143162.64,1,yuette.klapec@klapec.co.uk,3,6,3,Good,1303.01,18 Years and 6 Months,NaN,246.992319,453.615131,Low_spent_Large_value_payments,788.114550

In [4]:
from anonympy.pandas import dfAnonymizer
from anonympy.pandas.utils_pandas import available_methods
from anonympy.pandas.utils_pandas import fake_methods

In [5]:
anonym = dfAnonymizer(dataset)
available_methods()

`numeric`:
        * Perturbation - "numeric_noise"
        * Binning - "numeric_binning"
        * PCA Masking - "numeric_masking"
        * Rounding - "numeric_rounding"

`categorical`:
        * Synthetic Data - "categorical_fake"
        * Synthetic Data Auto - "categorical_fake_auto"
        * Resampling from same Distribution - "categorical_resampling"
        * Tokenazation - "categorical_tokenization"
        * Email Masking - "categorical_email_masking"

`datetime`:
        * Synthetic Date - "datetime_fake"
        * Perturbation - "datetime_noise"

`general`:
        * Drop Column - "column_suppression"

In [6]:
anonym.numeric_rounding('Annual_Income')
anonym.numeric_rounding('Num_of_Loan')
anonym.categorical_tokenization('SSN')
anonym.categorical_email_masking('Mail')
anonym.numeric_masking('Age')
anonym.column_suppression('Credit_History_Age')
anonym.numeric_noise("Monthly_Balance")

In [7]:
anonym.categorical_email_masking('Mail')

`Mail` column already anonymized!

In [8]:
anonym.info()

+-------------------------+--------+-------------+---------------------------+
|         Column          | Status |    Type     |          Method           |
+=========================+========+=============+===========================+
| Customer_ID             | 0      | categorical |                           |
+-------------------------+--------+-------------+---------------------------+
| Month                   | 0      | categorical |                           |
+-------------------------+--------+-------------+---------------------------+
| Name                    | 0      | categorical |                           |
+-------------------------+--------+-------------+---------------------------+
| Age                     | 1      | numeric     | PCA Masking               |
+-------------------------+--------+-------------+---------------------------+
| SSN                     | 1      | categorical | Tokenization              |
+-------------------------+--------+-------------+---------------------------+
| Occupation              | 0      | categorical |                           |
+-------------------------+--------+-------------+---------------------------+
| Annual_Income           | 1      | numeric     | Generalization - Rounding |
+-------------------------+--------+-------------+---------------------------+
| Num_Bank_Accounts       | 0      | numeric     |                           |
+-------------------------+--------+-------------+---------------------------+
| Mail                    | 1      | categorical | Partial Masking           |
+-------------------------+--------+-------------+---------------------------+
| Num_of_Loan             | 1      | numeric     | Generalization - Rounding |
+-------------------------+--------+-------------+---------------------------+
| Delay_from_due_date     | 0      | numeric     |                           |
+-------------------------+--------+-------------+---------------------------+
| Num_of_Delayed_Payment  | 0      | categorical |                           |
+-------------------------+--------+-------------+---------------------------+
| Credit_Mix              | 0      | categorical |                           |
+-------------------------+--------+-------------+---------------------------+
| Outstanding_Debt        | 0      | categorical |                           |
+-------------------------+--------+-------------+---------------------------+
| Credit_History_Age      | 1      | categorical | Column Suppression        |
+-------------------------+--------+-------------+---------------------------+
| Unnamed: 15             | 0      | numeric     |                           |
+-------------------------+--------+-------------+---------------------------+
| Total_EMI_per_month     | 0      | numeric     |                           |
+-------------------------+--------+-------------+---------------------------+
| Amount_invested_monthly | 0      | numeric     |                           |
+-------------------------+--------+-------------+---------------------------+
| Payment_Behaviour       | 0      | categorical |                           |
+-------------------------+--------+-------------+---------------------------+
| Monthly_Balance         | 1      | numeric     | Numeric Perturbation      |
+-------------------------+--------+-------------+---------------------------+

In [9]:
anonym.anonymize({'Age': 'numeric_masking',  # {'column_name': 'method_name'}
                  'SSN': 'categorical_tokenization',
                  'Annual_Income': 'numeric_rounding',
                  'Num_of_Loan': 'numeric_rounding',
                  'Credit_History_Age': 'column_suppression', 
                  'Monthly_Balance':'numeric_noise',
                  'Mail' : 'categorical_email_masking'})
print(anonym.to_df()) # Final result after anonymization.

`Age` column already anonymized!
`SSN` column already anonymized!
`Annual_Income` column already anonymized!
`Num_of_Loan` column already anonymized!
`Credit_History_Age` column already anonymized!
`Monthly_Balance` column already anonymized!
`Mail` column already anonymized!
   Customer_ID      Month             Name          Age         SSN  \
0    CUS_0xd40  September    Aaron Maashoh   -78.833333  e8e2b26d45
1    CUS_0xd40    October    Aaron Maashoh   -77.833333  e8e2b26d45
2    CUS_0xd40   November    Aaron Maashoh   -77.833333  e8e2b26d45
3    CUS_0xd40   December    Aaron Maashoh   -77.833333  e8e2b26d45
4   CUS_0x21b1  September  Rick Rothackerj   -73.833333  43df258268
5   CUS_0x21b1    October  Rick Rothackerj   -73.833333  ef380173bf
6   CUS_0x21b1   November  Rick Rothackerj   -73.833333  43df258268
7   CUS_0x21b1   December  Rick Rothackerj   -73.833333  43df258268
8   CUS_0x2dbc  September           Langep   -66.833333  4fd078bfcb
9   CUS_0x2dbc    October           Langep   -66.833333  4fd078bfcb
10  CUS_0x2dbc   November              NaN   -66.833333  4fd078bfcb
11  CUS_0x2dbc   December           Langep   -66.833333  4fd078bfcb
12  CUS_0xb891  September           Jasond   -46.833333  8d0cab5adb
13  CUS_0xb891    October           Jasond   -46.833333  8d0cab5adb
14  CUS_0xb891   November           Jasond   -46.833333  8d0cab5adb
15  CUS_0xb891   December           Jasond   -46.833333  8d0cab5adb
16  CUS_0x1cdb  September           Deepaa   -79.833333  d259e3ab4d
17  CUS_0x1cdb    October           Deepaa   -79.833333  ef380173bf
18  CUS_0x1cdb   November           Deepaa   -79.833333  d259e3ab4d
19  CUS_0x1cdb   December           Deepaa   -79.833333  d259e3ab4d
20  CUS_0x95ee  September               Np   -70.833333  7b6b5b524a
21  CUS_0x95ee    October               Np   -69.833333  7b6b5b524a
22  CUS_0x95ee   November               Np  1592.166667  7b6b5b524a
23  CUS_0x95ee   December               Np   -69.833333  7b6b5b524a

      Occupation  Annual_Income  Num_Bank_Accounts                     Mail  \
0      Scientist            0.0                  3      a*****z@hotmail.com
1      Scientist            0.0                  3        e*****s@gmail.com
2      Scientist            0.0                  3      f*****e@hotmail.com
3      Scientist            0.0                  3      u*****s@hotmail.com
4        _______            0.0                  2      t*****s@hotmail.com
5        Teacher            0.0                  2      e*****y@rampy.co.uk
6        Teacher            0.0                  2      m*****g@hotmail.com
7        Teacher            0.0                  2        l*****a@yahoo.com
8       Engineer       100000.0                  1      l*****a@hotmail.com
9       Engineer       100000.0                  1     y*****c@klapec.co.uk
10      Engineer       100000.0                  1     f*****a@writer.co.uk
11      Engineer       100000.0                  1        c*****m@gmail.com
12  Entrepreneur            0.0                  2        c*****t@gmail.com
13  Entrepreneur            0.0                  2        n*****h@yahoo.com
14  Entrepreneur            0.0                  2  r*****m@gastellum.co.uk
15  Entrepreneur      4100000.0                  2  m*****l@throssell.co.uk
16     Developer            0.0                  7        e*****e@yahoo.com
17     Developer            0.0                  7      d*****o@hotmail.com
18     Developer            0.0                  7   c*****o@spinello.co.uk
19     Developer            0.0                  7        m*****i@yahoo.com
20        Lawyer       100000.0                  4        p*****s@yahoo.com
21        Lawyer       100000.0                  4        o*****e@yahoo.com
22        Lawyer       100000.0                  4    m*****a@teplica.co.uk
23        Lawyer       100000.0                  4     t*****l@veigel.co.uk

    Num_of_Loan  Delay_from_due_date Num_of_Delayed_Payment Credit_Mix  \
0             0                    3                      7       Good
1             0                    3                      9       Good
2             0                   -1                      4       Good
3             0                    4                      5       Good
4             0                    3                      1       Good
5             0                    3                      3       Good
6             0                    3                    NaN          _
7             0                    3                     2_          _
8             0                    8                   1942       Good
9             0                    6                      3       Good
10         1380                    8                      5       Good
11            0                    8                      6       Good
12            0                    5                      6       Good
13         -100                    5                      8          _
14            0                    5                      6       Good
15            0                    6                      6       Good
16            0                    5                     15          _
17            0                    5                     18   Standard
18         -100                    5                     15   Standard
19            0                    5                     18   Standard
20            0                    8                      7       Good
21            0                    9                    NaN       Good
22            0                    8                    NaN          _
23            0                    8                      7       Good

   Outstanding_Debt  Unnamed: 15  Total_EMI_per_month  \
0            809.98          NaN            49.574949
1            809.98          NaN            49.574949
2            809.98          NaN            49.574949
3            809.98          NaN            49.574949
4            605.03          NaN            18.816215
5            605.03          NaN            18.816215
6            605.03          NaN            18.816215
7            605.03          NaN            18.816215
8           1303.01          NaN           246.992319
9           1303.01          NaN           246.992319
10         1303.01_          NaN           246.992319
11          1303.01          NaN           246.992319
12           632.46          NaN            16.415452
13           632.46          NaN            16.415452
14           632.46          NaN            16.415452
15           632.46          NaN            16.415452
16           943.86          NaN             0.000000
17           943.86          NaN             0.000000
18           943.86          NaN             0.000000
19           943.86          NaN             0.000000
20            548.2          NaN             0.000000
21            548.2          NaN             0.000000
22            548.2          NaN             0.000000
23            548.2          NaN             0.000000

    Amount_invested_monthly                 Payment_Behaviour  Monthly_Balance
0                236.642682    Low_spent_Small_value_payments       190.554357
1                 21.465380  High_spent_Medium_value_payments       361.955881
2                148.233938   Low_spent_Medium_value_payments       263.626512
3                 39.082511  High_spent_Medium_value_payments       334.923092
4                 39.684018   High_spent_Large_value_payments       482.681982
5                251.627369    Low_spent_Large_value_payments       310.589214
6                 72.680145   High_spent_Large_value_payments       449.185989
7                153.534488                            !@9#%8       414.827895
8                397.503654   Low_spent_Medium_value_payments       857.029897
9                453.615131    Low_spent_Large_value_payments       795.807723
10               841.232236   Low_spent_Medium_value_payments       417.252312
11               506.307780  High_spent_Medium_value_payments       718.692604
12                69.107006  High_spent_Medium_value_payments       431.475226
13                29.393311   High_spent_Large_value_payments       452.377859
14               191.886244   Low_spent_Medium_value_payments       328.168440
15               233.933417    Low_spent_Small_value_payments       302.268317
16                59.366058  High_spent_Medium_value_payments       476.740285
17               113.452656  High_spent_Medium_value_payments       422.482124
18                46.564575  High_spent_Medium_value_payments       497.276765
19               181.007217    Low_spent_Small_value_payments       385.306587
20                56.121024   High_spent_Large_value_payments       782.721728
21               160.244313   High_spent_Small_value_payments       696.907140
22               105.748063   High_spent_Large_value_payments       735.374627
23               130.873964   High_spent_Large_value_payments       716.053802